@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/mauve.css';

input,
textarea,
button {
  all: unset;
  box-sizing: border-box;
}

.FormRoot {
  width: 260px;
}

.FormField {
  display: grid;
  margin-bottom: 10px;
}

.FormLabel {
  font-size: 15px;
  font-weight: 500;
  line-height: 35px;
  color: white;
}

.FormMessage {
  font-size: 13px;
  color: #ECD06F;
  opacity: 0.8;
}

.Input {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  font-size: 15px;
  color: white;
  background-color: var(--black-a5);
  box-shadow: 0 0 0 1px var(--black-a9);
}

.Input:hover {
  box-shadow: 0 0 0 2px black;
}

.Input:focus {
  box-shadow: 0 0 0 2px black;
}

.Input::selection {
  background-color: var(--black-a9);
  color: white;
}

.Input {
  padding: 0 20px;
  height: 35px;
  line-height: 1;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
  width: 100%;

  background-color: white;
  color: #6f2232;
  box-shadow: 0 2px 10px var(--black-a7);
}

.Button:hover {
  background-color: #ECD06F
}

.Button:focus {
  box-shadow: 0 1 1 3px black;
}

.Container {
  padding: 80px;
  padding-top: 40px;
  border-bottom: solid 5px white;
  border-radius: 15px;
  background-color: #6f2232;
  box-shadow: 0 0 0 1px black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Container h1 {
  color: white;
  text-align: center;

}